@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:linear-gradient(180deg,#fff,#fff5f8,#ffe8ef);
color:#444;
overflow-x:hidden;
}

section{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:40px;
}

.hidden{
display:none;
}
